@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Carter+One&family=Montserrat:wght@100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  font-family: Montserrat;
}
select,
input,
textarea {
  border: 1px solid #c2c2c2;
  outline-color: #c586a5;
  border-radius: 4px;
}
.active {
  background-color: #e5c280;
  border-color: #c58a56;
}
